html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #eeeeee !important;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

#serverActiveStateLabel {
    background-color: #424242;
    border-color: #424242;
    box-shadow: none;
    outline: none;
}

#serverActiveStateLabel.active {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
    margin-bottom: 30px;
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card-title {
    color: #007b5e !important;
}

.nav-link {
    color: #007b5e !important;
    background-color: #ffffff !important;
}

.nav-link.active {
    background-color: #007b5e !important;
    color: #ffffff !important;
}

.modal-lg {
    max-width: 80% !important;
}
