version: "3.1"

services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_INITDB_DATABASE=iot
      - MONGO_USERNAME=user
      - MONGO_PASSWORD=user
      - MONGO_DATA_DIR=/data/db
    volumes:
      - ./data/db:/data/db
      - ./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
    ports:
      - "27017:27017"
    command: mongod --smallfiles --logpath=/dev/null
    networks:
      - default

  mongo-express:
    image: mongo-express
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=admin
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    entrypoint: ./dockerize -wait http://mongodb:27017 -timeout 120s
    command: node /node_modules/mongo-express/app.js
    networks:
      - default
    depends_on:
      - mongodb

volumes:
  data:
